<!DOCTYPE html>
<html>
<head>
  <title>云程教研系统</title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
</head>
<%
  body_classes = [controller_path.gsub('/', '__'), action_name]
-%>
<%= content_tag :body, class: body_classes.join(' ') do %>
  <%= yield(:header) %>

  <%= content_for?(:body) ? yield(:body) : yield %>
<% end -%>
</html>
